*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #fafafa;
    color: #111;;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* header ===================================================== */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

.container {}

.header-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    padding: 28px 0;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    margin-right: 446px;
}

.nav-logo-span {
    font-style: normal;
}

.nav-icon {
    background-color: #fff;
    stroke-width: 2px;
    stroke: #fd9222;
    fill: #fff;
}

.nav-list {
    display: flex;
    gap: 24px;
    margin-right: 90px;
}

.nav-item {
    display: flex;
    text-align: center;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: -0.02em;
}

.nav-item:hover {
    color: #fd9222;
    transform: scale(1.1);
}

.nav-list-link {}

.header-box {}

.header-box-list {
    display: flex;
    gap: 18px;
}

.header-box-item {}

.header-box-link {
}

.header-icon {
    background-color: #fff;
    stroke-width: 2px;
    stroke: #111;   
    fill: #fff;
}

.header-icon:hover {
    stroke: #fd9222;
    transform: scale(1.1);
}

/* Hero ================================================ */

.hero {
    padding-bottom: 72px;
}

.hero-wrap {
    margin: 0 auto;
    max-width: 1200px;
    background-color: black;
    padding-top: 375px;
    padding-bottom: 46px;
    padding-right: 72px;
    padding-left: 72px;
    background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    width: 484px;
    color: #fff;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btn {
    font-weight: 600;
    color: #fff;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    background-color: #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn-focus {
    color: #fd9222;
    background-color: #fcf1e0;;
}

.hero-link-made {
    font-weight: 600;
    color: #fff;
    padding: 14px 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-made:hover,
.hero-link-made:focus {
    color: #fd9222;
    border: 1px solid #fd9222;
}
.hero-box {
    display: flex;
    align-items: center;
    gap: 24px;
}
.scroll-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-scroll {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-scroll:hover,
.hero-btn-scroll:focus {
    color: #fd9222;
    transform: scale(1.05);
    
}

.hero-icon {
    background-color: #fff;
    border-radius: 100%;
    stroke-width: 2px;
    fill: none;
    stroke: #fd9222;
    
}

/* Adv ====================================================== */

.advantages {
    background-color: #1e1823;
    padding: 50px;
    margin-bottom: 100px;
}

.adv-wrap {

}
.advantages-list {
    display: flex;
    position: relative;
    color: #fff;
    gap: 70px;
}

.advantages-item {
    width: calc((100% -2 * 88px) / 3);
    
}

/* .advantages-item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 10px;
    top: 50%;
    height: 125px;
    transform: translateY(-50%);
    background-color: rgba(156, 42, 42, 0.5);
} */

.advantages-icon-box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
}

.advantages-icon {
    fill: #fd9222;
}

.advantages-list-title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.advantages-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* Taste ========================================== */

.taste {
    margin-bottom: 100px;
}

.taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.taste-text {
    line-height: 1.28571;
    letter-spacing: -0.02em;
    width: 486px;
    text-align: center;
    margin: 0 auto 50px;
}

.taste-list {
    display: flex;
    gap: 19px;
    margin: auto;
}

.taste-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #fd9222;
    border-radius: 15px;
    padding: 26px 30px;
    width: calc((100% - 57px) / 4);
}

.taste-item:nth-child(1) {
    background-color: #fd9222;   
    color: #fff;
}

.taste-item:nth-child(3) {
    background-color: #1e1823;
    color: #fff;

}
.taste-img {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 36px;
}
.taste-txt {
    font-weight: 600;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.taste-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    scrollbar-width: none;
}

.taste-item:hover .taste-overlay {
    transform: translateY(0);
    background-color: #fff;
    border: none;
}

.taste-overlay-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding: 20px 0 0 20px;
    margin-bottom: 8px;
    color: #111;
}


.taste-overlay-btn {
    padding: 6px 18px;
    margin-left: 20px;
    font-size: 10px;
    line-height: 1.2;
    color: #fff;
    background-color: #fd9222;
    border-radius: 35px;
    border: none;
    margin-bottom: 20px;
}

.taste-overlay-bttn {
    border: 1px solid #fd9222;
    background-color: #fff;
    border-radius: 35px;
    font-size: 10px;
    line-height: 1.2;
    color: #111;
    padding: 6px 18px;
}

.taste-overlay-txt {
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #111;
    padding: 0 20px 20px 20px;
}


/* Technology ================================================== */

.technology {
    margin-bottom: 100px;
}

.technology-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.technology-wrap {
    display: flex;
    gap: 20px;
}

.technology-img {}

.technology-box {
    padding: 32px;
    border-radius: 15px;
    background-color: #fff;
}

.technology-head {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 28px;
}

.technology-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}   

.technology-item {
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.technology-wrap {

}
.technology-icon {
    margin-right: 8px;
    border-radius: 100%;
    fill: #4c4c4c;
    stroke-width: 1px;
    stroke: #eceded;
}
.review {
    margin-bottom: 100px;
}

.review-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.review-list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 50px 0;
}

.review-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: calc((100% - 2 * 28px) / 3);
    background-color: #fff;
}

.review-img {
    position: relative;
    top: -40px;
    right: -135px;
}

.review-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 20px;
}

.review-txt {
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    padding: 0 24px 24px 24px;
}

.review-btn {
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    display: block;
    margin: 0 auto;
}

.review-span {
    color: #fd9222;
}

/* Footer =============================================== */

.footer {
    background-color: #1e1823;
    color: #fff;
}

.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    width: 300px;
}

.review-span {}

.address {
    display: flex;
    flex-direction: column;
}

.address-txt {
    font-weight: 500;
    line-height: 1.285;
    margin-bottom: 14px;
}

.address-tel {
    line-height: 1.28;
    letter-spacing: -0.02em;
    font-style: normal;
}

.address-mail {
    line-height: 1.28;
    letter-spacing: -0.02em;
    font-style: normal;
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-down {
    padding: 24px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer-nav {
}

.footer-list {
    display: flex;
    gap: 24px;
}

.footer-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
}

.footer-link {}

.footer-form {}

.footer-form-input {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    background-color: transparent;
}

.footer-btn {
    border-radius: 100px;
    padding: 17px 40px;
    background-color: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-left: 8px;
}

/* Modal-window ================================ */

.modal-window {
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 900ms ease-in-out;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    background-color: rgba(64, 68, 142, 0.4);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fafafa;
    border-radius: 15px;
    width: 517px;
    min-height: 794px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    padding: 40px;
}

.close-btn {
    border: none;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 462px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #111111;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.close-icon {
    fill: none;
    stroke: #111;
}

.close-icon:hover,
.close-icon:focus {
    background-color: #fd9222;
    border-radius: 50%;
    stroke: #fff;
}

.modal-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    max-width: 298px;
    margin-bottom: 40px;
}

.modal-span {
    color: #fd9222;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-group {
    margin-bottom: 18px;
}

.form-label {
    font-weight: 400;
    font-size: 14px;
    display: block;
    cursor: pointer;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    margin-bottom: 8px;
}

.input-box {
    position: relative;
}

.form-input {
    outline: transparent;
    background-color: transparent;
    width: 437px;
    height: 68px;
    border: 1px solid #111;
    border-radius: 13px;
    border: 1px solid #1111110d;
    padding-left: 62px;
    letter-spacing: -0.02em;
    font-size: 18px;
    color: #4040404d;
}

.form-input:hover,
.form-input:focus {
    border: 1px solid #fd9222;
}
.input-icon {
    position: absolute;
    top: 48%;
    left: 22px;
    transform: translateY(-50%);
    fill: none;
    stroke: #fd9222;
}

.modal-field-comment {
    margin-bottom: 18px;
}

.modal-input-comment {}

.text-input {
    display: block;
    border: 1px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    width: 437px;
    height: 137px;
    outline: transparent;
    background-color: transparent;
    letter-spacing: -0.02em;
    font-size: 18px;
    color: #4040404d;
    padding: 22px 24px;
}

.field-checkbox {
    margin-bottom: 40px;
}

.checkbox {
    cursor: pointer;
}

.form-checkbox-label {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #40404099;
    cursor: pointer;
}

.check-span {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    background-color: transparent;
    margin-right: 12px;
}

.checkbox:checked+.form-checkbox-label>.check-span {
    background-color: #fd9222;
    border: none;
    fill: #fff;
}

.checkbox-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fd9222;
}

.button-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 14px 40px;
    min-width: 117px;
    height: 45px;
    margin: 0 auto 0 0;
    background: #fd9222;
    border: none;
    outline: none;
    font-weight: 600;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}













